*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}
.music-player{
    background-image: linear-gradient(#12153A,#483855,#2B173B); 
    width: 350px;
    padding: 25px 25px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top-icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #45454B;
    color: #F3F3F3;
}

.song-image{
    width: 200px;
    border-radius: 30px;
    border: 3px solid #C49FEF;
    padding: 5px;
}

.now-playing{
    font-size: 1rem;

}

.track-name{
    font-size: 2.5rem;

}

.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;

}


#minutes{
    width: 100%;
    height: 6px;
    background: #F3F3F3;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
}

#minutes{    
    /* -webkit-appearance: none; */
    background: #F3F3F3;
    color: #F3F3F3;
    width: 100%;
    height: 5px;
    cursor: pointer;
}

#minutes::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #C49FEF;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

#volume{
    /* -webkit-appearance: none; */
    background: #F3F3F3;
    color: #F3F3F3;
    width: 50%;
    height: 7px;
    cursor: pointer;

}

#volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #C49FEF;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-track{
    width: 40px;
    height: 40px;
    margin: 20px;
    background: #F3F3F3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #1C2052;
    cursor: pointer;
}
.pauseplay-track{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #7914EE;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#F3F3F3 ;
    cursor: pointer;

}
.next-track{
    width: 40px;
    height: 40px;
    margin: 20px;
    background: #F3F3F3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #1C2052;
    cursor: pointer;
}

.audio{
    font-size: smaller;
    width: 30px;
}
.track-name{
    color: #F3F3F3;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;


}

.track-artist{
    color: #F3F3F3;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;

}

.current-time{
    color: #F3F3F3;
}

.total-duration{
    color: #F3F3F3;
}

.duration{
    display: flex;
    justify-content: center;
    gap: 80%;
}

@media only screen and (max-width: 600px) {
    .music-player{
        width: 90%;
        }
        
        .song-image{
        width: 70%;
        }
        
        .track-name{
        font-size: 1rem;
        }
        
        .track-artist{
        font-size: 0.8rem;
        }
        
        .prev-track,
        .pauseplay-track,
        .next-track{
        margin: 10px;
        }

        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

}